{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}| Expense Tracker {% endblock %}</title>
    <link href="{% static 'myapp/styles.css' %}" rel="stylesheet" />
    <link href="{% static 'myapp/style.css' %}" rel="stylesheet" />
  </head>
  <body>
    <nav class="shadow-lg p-10">
      <div class="container flex flex-wrap justify-between items-center mx-auto">
        <a href="#" class="flex">
          <img src="{% static 'myapp/image/wallet.png' %}" class="h-10 mr-3" />
          <span class="self-center text-xl font-semebold">Expense Tracker</span>
        </a>
      </div>
    </nav>
    {% block body %} {% endblock %}
  </body>
</html>
